:root {
    --background-body: #2a3942;

    --secondary-body: #443977;
    --hover-color: #ea3a5e;

    --text-main: #FFFFFF;

    --font-family-serif: "Montserrat", serif;
}

body {
    background-color: var(--background-body);

    font-family: var(--font-family-serif);

    color: var(--text-main);

    margin: 0;
}