:root {
    --background-body: #273644;
    --dark-theme-secondary: #73a2d3;

    --text-main: #FFFFFF;

    --primary-color: #ea3a5e;

    --font-family-serif: "Montserrat", serif;
}

html, body {
    height: 100%;

    margin: 0;
}

body {
    font-family: var(--font-family-serif);

    display: flex;
    flex-direction: column;
}