:root {
    --background-body: #2a3942;

    --secondary-body: #443977;
    --hover-color: #ea3a5e;

    --text-main: #fff;

    --font-family-serif: "Montserrat", serif;

    --wrap: 1400px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-body);

    font-family: var(--font-family-serif);

    color: var(--text-main);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    text-wrap: pretty;
}