:root {
    --background-body: #2a3942;
    --secondary-body: #443977;

    --button-color: #ea3a5e; /* used for buttons */
    --hover-color: #ea3a5e; /* used for border on hover */

    --text-main: #fff;

    /* if using scss, you can change this line to: */
    /* $font-family-serif: "Montserrat", serif; */
    --font-family-serif: "Montserrat", serif;

    --wrap: 1400px;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-body);

    /* if using scss, you can change this line to: */
    /* font-family: $font-family-serif; */
    font-family: var(--font-family-serif);

    color: var(--text-main);

    flex-direction: column;
    display: flex;
}

p {
    text-wrap: pretty;
}