<footer>
    <span>
        A cold beer after a hard day's work... Nothin' like it
    </span>
</footer>

<style>
    footer {
        color: var(--dark-theme-text);

        padding: 1em 0.5em;
        text-align: center;
        width: 100%;
    }
</style>